<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptame</title>
    <!-- Siempre que creeis una nueva plantilla ejs, importar las hojas de estilos CSS, en especial la de bootstrap-->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>

<body>
    <%- include('./Header'); %>
    <div class="content main-section">
        <!-- -->
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <div class="col-md-12">
                        <h2>Solicitud de Protectoras</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-admin">
                    <table class="table table-striped text-center admin-control">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Web</th>
                            <th scope="col">Detalles</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% protectoras.map( protectora => { %>
                           <tr>
                             <th scope="row"><%= protectora.shelterName %></th>
                             <td><a href="<%= protectora.userEmail %>"><%= protectora.email %></a></td>
                             <td><%= protectora.shelterAddress %></td>
                             <td><%= protectora.webpage %></td>
                             <td><button type="submit" email="<%= protectora.email %>" class="btn btn-success btn-xs aceptarProtectora">Aceptar</button>
                              <button type="submit" email="<%= protectora.email %>" class="btn btn-danger btn-xs rechazarProtectora">Rechazar</button></a>
                           </tr>
                          <% }) %>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('./Footer'); %>
</body>
<script>
  $(document).ready(function(){
    $(".aceptarProtectora").click(function(){
      var email = $(this).attr('email');
      alert("Se ha aceptado la protectora con id " + email);

      $.post("/manageRequest", {email: email, accepted: true}, function(request, response){
        
      }); 
    });
    $(".rechazarProtectora").click(function(){
      var email = $(this).attr('email');
      alert("Se ha eliminado la protectora con id " + email);

      $.post("/manageRequest", {email: email, accepted: false}, function(request, response){
        
      });          
    });
    var data = {};
      data.idProtectora = $(this).attr('idprotectora');
      data.accepted = false;
      $.post("/manageRequest", data, function(request, response){
        
      }); 
  });
</script> 

</html>